name: Deployment cleaner

on:
  pull_request:
    branches:
      - "staging"
      - "main"
    types: [closed]

env:
  # Deployment variables
  PROJECT_NAME: project_name
  GAR_BASE: us-docker.pkg.dev/${{ secrets.GCP_PROJECT }}

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GAR_JSON_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          export_default_credentials: true

      - name: Use gcloud CLI
        run: gcloud run services delete ${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG }}-${{ env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }} --region=${{ secrets.GCP_REGION }} --quiet
